extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        br
        br
        | Velit ullamco excepteur sint cillum incididunt fugiat nostrud. Commodo consequat veniam deserunt sint et qui reprehenderit do. Aute aliqua in eiusmod dolor quis consequat enim occaecat. Qui est exercitation excepteur irure nulla qui officia. Irure aliqua nulla incididunt ut amet velit. Lorem Lorem aliquip dolore consectetur. Veniam ipsum laboris ad anim excepteur id sunt velit eiusmod aliquip commodo mollit.
        br
        br
        | Reprehenderit laboris ut minim quis qui sint laborum est. Amet est irure occaecat sunt. Dolore sunt ex ea excepteur in commodo exercitation do in. Amet et qui excepteur Lorem sint laboris. Sit veniam mollit exercitation dolor sunt cupidatat magna adipisicing minim do enim laboris quis amet. Eu commodo culpa esse est pariatur id.
